.row
  .col-md-2
    Customer
  .col-md-2
    Order #
  .col-md-2
    Purchased On
  .col-md-3
    Order Status
  .col-md-3
    Dropbox Folder 
%br
- @orders.each do |order|
  / = link_to "View Order", order_path(order)
  .row
    .col-md-2
      =link_to "#{order.taxpayer.name_display}", taxpayer_path(order.taxpayer)
    .col-md-2
      = link_to order.order_number, order_path(order)
    .col-md-2
      = order.purchased_at
    .col-md-3
      = order.status
    .col-md-3
      = link_to 'Open in Dropbox', order.dropbox_url