- if @complete_orders
  .row.headings
    .col-md-2
      Customer
    .col-md-2
      Order #
    .col-md-3
      Purchased On
    .col-md-2
      Order Status
    .col-md-3
      Dropbox Folder 
  %br
  - @complete_orders.each do |order|
    .row.order-items
      .col-md-2
        = order.taxpayer.name_display
      .col-md-2
        = link_to order.order_number, order_path(order)
      .col-md-3
        - if order.purchased_at
          = order.purchased_at.strftime("%m/%d/%Y at %I:%M%p")  
        - else
          %span{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Please Pay Before we Process Your Order", :type => "button"} 
            = link_to "Pay for Order", order_path(order)
      .col-md-2
        = order.status
      .col-md-3
        = link_to 'Open in Dropbox', order.dropbox_url
  - @complete_orders.each do |order|
    .row.order-items-mobile
      .col-sm-6.col-xs-6
        %strong
          = order.taxpayer.name_display
      .col-sm-6.col-xs-6
        = order.order_number
      .col-sm-6.col-xs-6
        - if order.status === 'Completed'
          = order.status
        - else 
          %span{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Please Pay Before we Process Your Order", :type => "button"} 
            = link_to "Pay for Order", order_path(order) 
      .col-sm-6.col-xs-6
        = link_to "Open in Dropbox", order.dropbox_url

- else 
  You have no complete orders
