.container
  
  = form_for @agent, :url => update_agent_confirmation_path, :html => {:method => 'put'}, :id => 'activation-form', builder: Judge::FormBuilder do |f|
    / = devise_error_messages!  
    - if @agent.first_name
      .row
        .cta-heading
          .container
            .col-md-5
              .header-logo
                = link_to image_tag('logo.png'), root_url
            .col-md-7
              %h2 Account Activation for <br>#{@agent.name_display}
      / - if @requires_password
      .row
        .add-password-form
          .col-md-6
            = f.label :password,'Choose a Password:'
            = f.password_field :password, class: 'form-control', id: 'pass1', :validate => true, onkeyup: 'checkEmpty(); return false;'
          .col-md-6
            = f.label :password_confirmation,'Password Confirmation:'
            = f.password_field :password_confirmation, class: 'form-control', id: 'pass2', onkeyup: "checkPass(); return false;", :validate => true
            #confirmMessage
          = hidden_field_tag :confirmation_token, @agent.confirmation_token
          .text-right
            = f.submit "Activate", class: 'btn btn-primary btn-raised'
      .progressbar{"data-perc" => "100"}
        .bar.color4
          %span
        .label
          %span