.sidebar
  = link_to image_tag('logo.png'), root_url
  / .agent-info
  /   = @agent.name_display
  /   %br
  /   = @agent.agent_type
  /   %br
  /   %br
  /   = @sub_brokerage.name
  /   %br
  /   = @sub_brokerage.address
  /   %br
  /   = @sub_brokerage.city
  /   = @sub_brokerage.province
  /   %br
  /   = @sub_brokerage.phone_number
  .nav-items
    .nav-item
      = link_to "<i class='fa fa-clock-o'></i>Order History".html_safe, root_url, :class => ('active' if controller_name === 'homepage')
    .nav-item
      = link_to "<i class='fa fa-file'></i>New Order".html_safe, new_order_path, :class => ('active' if controller_name === 'orders')
    / .nav-item
    /   = link_to "Customer List", taxpayers_path, :class => ('active' if controller_name === 'taxpayers')
    - if !current_agent.dropbox_session.nil?
      .nav-item
        = link_to "<i class='fa fa-dropbox'></i>Dropbox Folder".html_safe, current_agent.dropbox_session, target: 'blank'
    .nav-item
      = link_to "<i class='fa fa-user'></i>Account Settings".html_safe, edit_agent_registration_path, :class => ('active' if controller_name === 'registrations')
