.container
  .landing-page
    .form-fields      
      - if agent_signed_in?
        - if current_agent.encrypted_password === ''     
          = render 'homepage_add_password'
        - else 
          .col-md-2.sidebar-col
            = render "sidebar"
          .col-md-10
            - if current_agent.orders.empty?
              .col-md-6.col-md-offset-3
                .no-results.form-fields
                  %h2 Welcome to NOA Canada! 
                  Click this big blue button to make your first application:
                  = link_to "Apply For Your First NOA", new_order_path, class: 'btn btn-primary btn-raised'
            - else
              = render 'dashboard'    
      - else
        / %h2 Welcome to NOA Canada
        .cta-heading
          .container
            %h3 Getting your last three years' Notices of Assessments couldn't be easier. <br>
            / .cta-title
            /   Simply follow these steps:
            .col-md-6
              .homepage-button
                = link_to "ORDER NOW - New User", new_agent_registration_path, class: 'btn btn-primary btn-raised'
            .col-md-6
              .homepage-button
                = link_to "ORDER NOW - Returning NOA Agent", new_agent_session_path, class: 'btn btn-primary btn-raised' 
           

