.container
  .landing-page
    .form-fields      
      - if agent_signed_in?
        - if current_agent.encrypted_password === ''     
          = render 'homepage_add_password'
        - else 
          .col-md-2.sidebar-col
            = render "sidebar"
          .col-md-10
            - if current_agent.orders.empty?
              .col-md-6.col-md-offset-3
                .no-results.form-fields
                  %h2 Welcome to NOA Canada! 
                  Click this big blue button to make your first application:
                  = link_to "Apply For Your First NOA", new_order_path, class: 'btn btn-primary btn-raised'
            - else
              = render 'dashboard'    
      - else
        / %h2 Welcome to NOA Canada
        .cta-heading
          .container
            .row
              .landing-headline
                .col-md-4
                  %hr
                .col-md-4
                  Welcome to
                .col-md-4
                  %hr
            %h3 The Online Resource for Ordering Notice of Assessment Documents
            / %h3 Getting your last three years' Notices of Assessments couldn't be easier. <br>
            / .cta-title
            /   Simply follow these steps:
            .homepage-buttons              
              .homepage-button
                = link_to "<h4>ORDER NOW!</h4> <br> New User".html_safe, new_agent_registration_path, class: 'btn btn-primary btn-raised'

              .homepage-button
                = link_to "<h4>ORDER NOW!</h4> <br> Returning NOA Agent".html_safe, new_agent_session_path, class: 'btn btn-primary btn-raised' 
              .row
                .homepage-faqs
                  = link_to 'Frequently Asked Questions', faqs_path
             

