.container
  
  .form-section
    .row
      
      .form-fields
        / %h2 Personal Information
        .cta-heading.personal-form
          .container
            .col-md-5
              .header-logo
                = link_to image_tag('logo.png'), root_url
            .col-md-7
              .row.text-right
                .landing-headline
                  %h4.white Fill in the Form to Create Your Account
                  / %h4 for Ordering
                  / %h4 Notice of Assessment 
                  / %h4 Documents
          = form_for(resource, as: resource_name, url: registration_path(resource_name), builder: Judge::FormBuilder) do |f|
            / = f.error_notification 
            .row
              .col-md-10.col-md-offset-1.col-sm-12
                .form-inputs
                  .row
                    .col-md-3.col-sm-6
                      %label First Name
                      = f.text_field :first_name, autofocus: true, class: 'form-control', label: false, :validate => true
                      .error-box.agent_first_name_errors
                    .col-md-3.col-sm-6
                      %label Last Name
                      = f.text_field :last_name, class: 'form-control' , label: false, :validate => true
                      .error-box.agent_last_name_errors
                    .col-md-3.col-sm-6
                      %label Email
                      = f.text_field :email, class: 'form-control' , label: false, :validate => true
                      .error-box.agent_email_errors
                    /= f.text_field :email_confirmation, required: true
                    .col-md-3.col-sm-6
                      %label Cell Phone Number
                      = f.telephone_field :phone_number, class: 'form-control phone', label: false, :validate => true
                      .error-box.agent_phone_number_errors
                  .row.terms
                    .col-md-9
                      By submitting this information, I agree to NOA Canada's:
                      / Large modal
                      %a{"data-target" => ".bs-example-modal-lg", "data-toggle" => "modal", :type => "button", class: 'pointer'} Terms and Conditions
                      .modal.fade.bs-example-modal-lg{"aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
                        .modal-dialog.modal-lg
                          .modal-content
                            = render 'terms_and_conditions'
                      and 
                      %a{"data-target" => ".bs-example-modal-lg-2", "data-toggle" => "modal", :type => "button", class: 'pointer'} Privacy Policy .
                      .modal.fade.bs-example-modal-lg-2{"aria-labelledby" => "myLargeModal2Label", :role => "dialog", :tabindex => "-2"}
                        .modal-dialog.modal-lg
                          .modal-content
                            = render 'privacy_policy'
                    .col-md-3.col-sm-3
                      = f.submit "Create Account", class: 'btn btn-primary btn-raised submit-btn'
            .form-actions
              
              .progressbar{"data-perc" => "50"}
                .bar.color4
                  %span
                .label
                  %span


        / = render "devise/shared/links" 
    
