.container
  
  .form-section
    .row
      
      .form-fields
        %h2 Personal Information
        .personal-form
          %p Please provide some basic information so we can get your account creation started.
          %hr
          = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = f.error_notification 
            .row
              .col-md-8.col-md-offset-2
                .form-inputs
                  .col-md-3
                    First Name
                    = f.input :first_name, required: true, class: 'form-control', label: false
                  .col-md-3
                    Last Name
                    = f.input :last_name, required: true, class: 'form-control', label: false
                  .col-md-3
                    Email
                    = f.input :email, required: true, autofocus: true, class: 'form-control', label: false
                  /= f.input :email_confirmation, required: true
                  .col-md-3
                    Cell Phone Number
                    = f.input :phone_number, required: true, class: 'form-control', label: false
            

            .form-actions
              = f.button :submit, "Sign up", class: 'btn btn-default'
              .progressbar{"data-perc" => "50"}
                .bar.color4
                  %span
                .label
                  %span


        / = render "devise/shared/links" 
    
