= form_for @taxpayer, builder: Judge::FormBuilder, html: { multipart: true } do |f|  
  - if @taxpayer.errors.full_messages.any?
    - @taxpayer.errors.full_messages.each do |error_message|
      = error_message if @taxpayer.errors.full_messages.first == error_message
      %br/
  .form-fields
    %h2 New NOA Order
    .order-form
      .col-md-6.file-attach
        %h3 Please Attach Your Complete and Signed T1013 Form. We would prefer it in one document, but you may attach multiple documents if necessary.
        %br
        / - f.fields_for :order do |order|
        / - f.fields_for(@order.att, :html => { :multipart => true }) do |field|
        = file_field_tag 'documents[]', multiple: true
      .col-md-6
        .row
          .form-area
            %h3 Taxpayer Information
            .col-md-6
              %label First Name
              = f.text_field :first_name, class: 'form-control', :validate => true
            .col-md-6
              %label Last Name
              = f.text_field :last_name, class: 'form-control', :validate => true

            .col-md-6
              %label Phone Number
              = f.text_field :phone_number, class: 'form-control phone', :validate => true
            .col-md-6
              %label Email Address
              = f.email_field :email, class: 'form-control', :validate => true

            .col-md-6
              %label SIN
              = f.text_field :sin, class: 'form-control sinnum', label: 'SIN', :validate => true
            .col-md-6
              %label Date of Birth
              = f.text_field :dob, class: 'form-control datepicker', placeholder: 'YYYY/MM/DD', :validate => true
          
            .text-right
              .col-md-12
                = f.submit "Pay with Credit Card or Paypal", name: 'payment_method' ,class: 'btn btn-primary btn-raised submit-btn', id: 'submit-order'

.file-warning
  .file-warning-text
    .row
      = image_tag('noun_195206.png')
    .row
      Please attached a signed T1013. If you do not have a signed T11013, you can download one here: 
      %br
      %a{:href => '/forms/T1013-L2.pdf', :target => 'blank'} Fillable T1013 Form