= form_for @taxpayer, builder: Judge::FormBuilder do |f|  
  - if @taxpayer.errors.full_messages.any?
    - @taxpayer.errors.full_messages.each do |error_message|
      = error_message if @taxpayer.errors.full_messages.first == error_message
      %br/
  .form-fields
    %h2 New NOA Order
    .order-form
      .col-md-6.file-attach
        %h3 Please Attach Your Complete and Signed T1013 Form
        %br
        - f.fields_for(@order, :html => { :multipart => true }) do |field|
          = field.file_field :document, class: 'btn btn-primary btn-raised'
      .col-md-6
        .row
          .col-md-12 
            If you do not have a signed T11013, you can download one here: 
            %a{:href => 'http://www.cra-arc.gc.ca/E/pbg/tf/t1013/t1013-fill-14e.pdf', :target => 'blank'} Fillable T1013 Form
            Whether you have a completed T1013 or not, please provide the taxpayer's information, so you can track your orders with NOACanada.
          .form-area
            .col-md-6
              %label First Name
              = f.text_field :first_name, class: 'form-control', :validate => true
            .col-md-6
              %label Last Name
              = f.text_field :last_name, class: 'form-control', :validate => true

            .col-md-6
              %label Phone Number
              = f.text_field :phone_number, class: 'form-control phone', :validate => true
            .col-md-6
              %label Email Address
              = f.email_field :email, class: 'form-control', :validate => true

            .col-md-6
              %label SIN
              = f.text_field :sin, class: 'form-control sinnum', label: 'SIN', :validate => true
            .col-md-6
              %label DOB (YYYY/MM/DD)
              = f.text_field :dob, class: 'form-control datepicker', label: 'DOB (YYYY/MM/DD)', :validate => true
          
            .text-right
              .col-md-12
                = f.submit "Pay with Credit Card or Paypal", name: 'payment_method' ,class: 'btn btn-primary btn-raised submit-btn'
        