/ .container
/   .form-fields
/     .col-md-2.sidebar-col
/       = render '/homepage/sidebar'
/     .col-md-10
/       = @order.taxpayer.first_name
/       - if params[:order]        
/         %iframe{ src: @order.docusign_url, class: 'document_iframe' }
/ .container.text-center
/   .cta-selection.payment-form
/     = form_tag charges_path do
/       Amount: $50
/       %script.stripe-button{"data-amount" => "5250", "data-description" => "Standard NOA Package", "data-key" => Rails.configuration.stripe[:publishable_key], "data-locale" => "auto", :src => "https://checkout.stripe.com/checkout.js"}
/       = link_to "Pay with Paypal", paypal_path(@order), class: 'btn btn-primary btn-raised'

.container.payment{"data-no-turbolinks" => "true"}
  .form-fields
    .col-md-5.col-xs-12
      .header-logo
        = image_tag('logo.png')
    .col-md-7.col-xs-12
      %h2 NOA Order - #{@order.taxpayer.name_display}
    .row

      - if @order.status === 'Started'
        / = render '/payment/form'
        .order-credit-form  
          .form-group
            %label Credit Card Number 
            = f.text_field :credit_card_number, class: "form-control"
          .col-md-6
            .form-group
              %label Exp. Month
              = f.select :expiration_month, months, {}, class: "form-control"
          .col-md-6
            .form-group
              %label Exp. Year
              = f.select :expiration_year, years, {}, class: "form-control"
          .col-md-4.col-md-offset-8
            .form-group
              %label CVV
              = f.text_field :card_security_code, class: "form-control"
          .form-group
            = f.submit "Charge Credit Card", class: "btn btn-primary btn-raised submit-btn", id: 'submit-order'

/ = @order.status
/ = @order.notification_params
