.container
  .form-fields
    %h2 Account Details
    / = simple_form_for @agent, url: wizard_path, action: 'update_password', id: "user-form-part1" do |f|
    /   .field
    /     = f.label :password, "Password"
    /     %br/
    /     = f.password_field :password, :autocomplete => "off"
    /   .field
    /     = f.label :password_confirmation
    /     %br/
    /     = f.password_field :password_confirmation
    /   .action_container
    /   = f.submit
    = form_for @agent, :as => @agent, :url => update_agent_confirmation_path, :html => {:method => 'put'}, :id => 'activation-form' do |f|
      = devise_error_messages!
      %fieldset
        %legend
          Account Activation
          - if resource.user_name
            for #{resource.user_name}
        - if @requires_password
          %p
            = f.label :password,'Choose a Password:'
            = f.password_field :password
          %p
            = f.label :password_confirmation,'Password Confirmation:'
            = f.password_field :password_confirmation
        = hidden_field_tag :confirmation_token,@confirmation_token
        %p= f.submit "Activate"
      / = form_for(@user, :url => { :action => "update_password" } ) do |f|
 