.container
  .form-fields    
    = form_for(@agent, url: wizard_path, id: "user-form-part1", builder: Judge::FormBuilder) do |f|
      %h2 Please Select a Radio Button
      .col-md-6.form-radios      
        .form-radio#taxpayer
          .col-md-10
            %label{:for => "taxpayer-radio"}
              Taxpayer
          .col-md-2
            = radio_button :agent, :agent_type, 'None', onclick: "render_partial('taxpayer');", id: "taxpayer-radio"
        .form-radio#mortgage
          .col-md-10 
            %label{:for => "mortgage-radio"}
              Mortgage Broker
          .col-md-2
            = radio_button :agent, :agent_type, 'Mortgage Broker', onclick: "render_partial('mortgage broker');", id: 'mortgage-radio'
        .form-radio#mutual
          .col-md-10
            %label{:for => "mutual-radio"}
              Mutual Fund Licensee
          .col-md-2
            = radio_button :agent, :agent_type, 'Mutual Fund Licensee', onclick: "render_partial('mutual fund licensee');", id: 'mutual-radio'
        .form-radio#insurance
          .col-md-10
            %label{:for => "insurance-radio"}
              Life Insurance Licensee
          .col-md-2
            = radio_button :agent, :agent_type, 'Life Insurance Licensee', onclick: "render_partial('life insurance licensee');", id: 'insurance-radio'
        .form-radio#cpa
          .col-md-10
            %label{:for => "cpa-radio"}
              CPA
          .col-md-2
            = radio_button :agent, :agent_type, 'CPA', onclick: "render_partial('cpa');", id: 'cpa-radio'
        .form-radio#other
          .col-md-10
            %label{:for => "other-radio"}
              Other
          .col-md-2
            = radio_button :agent, :agent_type, 'Other', onclick: "render_partial('other');", id: 'other-radio'
      .col-md-6.partial-wrapper.form-group
        #partial-area
          .partial-info.taxpayer
            %i.fa.fa-angle-double-right
            I am not a tax agent
            %br
            %i.fa.fa-angle-double-right
            I want to find a tax agent, or connect with my current tax agent
          .partial-info.mortgage
            %i.fa.fa-angle-double-right
            I am a mortgage broker
            %br
            %i.fa.fa-angle-double-right
            I have my license number
          .partial-info.mutual
            %i.fa.fa-angle-double-right
            I am a mutual fund licensee
            %br
            %i.fa.fa-angle-double-right
            I have my license number
          .partial-info.insurance
            %i.fa.fa-angle-double-right
            I am a life insurance licensee
            %br
            %i.fa.fa-angle-double-right
            I have my  license number
          .partial-info.cpa
            %i.fa.fa-angle-double-right
            I am a Certified Professional Accountant
            %br
            %i.fa.fa-angle-double-right
            I have my business license number
          .partial-info.other
            %i.fa.fa-angle-double-right
            I am an alternate representative
            %br
            %i.fa.fa-angle-double-right
            I have information about my business
        .col-md-3.col-md-offset-8
          = f.submit "Continue", class: "btn btn-default", id: "submit-button"
  .progressbar{"data-perc" => "75"}
    .bar.color4
      %span
    .label
      %span


:javascript
  $(document).ready(function() {
    $("#submit-button").on('click', function() {
      $('#type').val($(this).attr('data-val'));
    });

    $("#connect-button").on('click', function() {
      $('#type').val('taxpayer');
      $('#edit_agent_3').submit();
    });
  });
  function render_partial(element) {
    switch(element) {
      case 'taxpayer':
        $('#submit-button').hide();
        $('#partial-area').hide().html("#{escape_javascript(render 'taxpayer_form')}").fadeIn();
        break;
      case 'mortgage broker':
         $('#partial-area').hide().html("#{escape_javascript(render 'mortgage_broker_form', agent: @agent)}").fadeIn();
         $('#submit-button').show().attr('data-type', 'mutual-fund-licensee');
        break;
      case 'mutual fund licensee':
         $('#partial-area').hide().html("#{escape_javascript(render 'mutual_fund_licensee_form', agent: @agent)}").fadeIn();
         $('#submit-button').show().attr('data-type', 'mutual-fund-licensee');
        break;
      case 'life insurance licensee':
         $('#partial-area').hide().html("#{escape_javascript(render 'life_insurance_licensee_form', agent: @agent)}").fadeIn();
         $('#submit-button').show().attr('data-type', 'life-insurance-licensee');
        break;
      case 'cpa':
         $('#partial-area').hide().html("#{escape_javascript(render 'cpa_form', agent: @agent)}").fadeIn();
         $('#submit-button').show().attr('data-type', 'cpa');
        break;

      case 'other':
         $('#partial-area').hide().html("#{escape_javascript(render 'other_form', agent: @agent)}").fadeIn();
         $('#submit-button').show().attr('data-type', 'other');
        break;
      default:
        $('#partial-area').hide().html('<h3>Please select a radio button </h3>').fadeIn();
        break;

    }

    $('.brokerages_with_autocomplete').autocomplete({
      source: $('.brokerages_with_autocomplete').data('autocompleteurl')
    });
    $('.sub_brokerages_with_autocomplete').autocomplete({
      source: $('.sub_brokerages_with_autocomplete').data('autocompleteurl')
    });
    return $('.datepicker').datepicker({
      format: 'YYYY/MM/DD'
    });
  } 