.choose-type 
  .container
    .form-fields  
      -if @agent  
        = form_for(@agent, url: wizard_path, id: "user-form-part1", builder: Judge::FormBuilder) do |f|
          .row.radio-header
            .col-md-3
              = link_to image_tag('logo.png'), root_url
            .col-md-9.text-right
              %h2 Please Select a Radio Button
          .row
            .col-md-6.form-radios      
              .form-radio#taxpayer
                .col-md-10
                  %label{:for => "taxpayer-radio"}
                    Taxpayer
                .col-md-2
                  = radio_button :agent, :agent_type, 'None', onclick: "render_partial('taxpayer');", id: "taxpayer-radio"
              .form-radio#mortgage
                .col-md-10 
                  %label{:for => "mortgage-radio"}
                    Mortgage Broker
                .col-md-2
                  = radio_button :agent, :agent_type, 'Mortgage Broker', onclick: "render_partial('mortgage broker');", id: 'mortgage-radio'
              .form-radio#mutual
                .col-md-10
                  %label{:for => "mutual-radio"}
                    Mutual Fund Licensee
                .col-md-2
                  = radio_button :agent, :agent_type, 'Mutual Fund Licensee', onclick: "render_partial('mutual fund licensee');", id: 'mutual-radio'
              .form-radio#insurance
                .col-md-10
                  %label{:for => "insurance-radio"}
                    Life Insurance Licensee
                .col-md-2
                  = radio_button :agent, :agent_type, 'Life Insurance Licensee', onclick: "render_partial('life insurance licensee');", id: 'insurance-radio'
              .form-radio#cpa
                .col-md-10
                  %label{:for => "cpa-radio"}
                    CPA
                .col-md-2
                  = radio_button :agent, :agent_type, 'CPA', onclick: "render_partial('cpa');", id: 'cpa-radio'
              .form-radio#other
                .col-md-10
                  %label{:for => "other-radio"}
                    Other
                .col-md-2
                  = radio_button :agent, :agent_type, 'Other', onclick: "render_partial('other');", id: 'other-radio'
            .col-md-6.partial-wrapper.form-group
              #partial-area
                .partial-info{:data => {:link => 'taxpayer'}, :onclick => "render_partial('taxpayer');"}
                  %i.fa.fa-angle-double-right
                  I am not a tax agent
                  %br
                  %i.fa.fa-angle-double-right
                  I want to find a Tax Agent, or connect with my current Tax Agent
                .partial-info{:data => {:link => 'mortgage'}, :onclick => "render_partial('mortgage broker');"}
                  %i.fa.fa-angle-double-right
                  I am a Mortgage Broker
                .partial-info{:data => {:link => 'mutual'}, :onclick => "render_partial('mutual fund licensee');"}
                  %i.fa.fa-angle-double-right
                  I am a Mutual Fund Licensee
                .partial-info{:data => {:link => 'insurance'}, :onclick => "render_partial('life insurance licensee');"}
                  %i.fa.fa-angle-double-right
                  I am a Life Insurance Licensee
                .partial-info{:data => {:link => 'cpa'}, :onclick => "render_partial('cpa');"}
                  %i.fa.fa-angle-double-right
                  I am a Certified Professional Accountant
                .partial-info{:data => {:link => 'other'}, :onclick => "render_partial('other');"}
                  %i.fa.fa-angle-double-right
                  I am an Alternate Representative
              .row
                .col-md-4.col-md-offset-1
                  = f.submit "Continue", class: "btn btn-default", id: "submit-button"
      - else 
        :javascript
          window.location.href="/"
      .progressbar{"data-perc" => "75"}
        .bar.color4
          %span
        .label
          %span


:javascript
  $(document).ready(function() {
    $("#submit-button").on('click', function() {
      $('#type').val($(this).attr('data-val'));
    });

    $("#connect-button").on('click', function() {
      $('#type').val('taxpayer');
      $('#edit_agent_3').submit();
    });
  });
  function render_partial(element) {
    switch(element) {
      case 'taxpayer':
        $('#submit-button').show().prop('value', 'Contact an Agent').attr('data-type', 'taxpayer');
        $('#partial-area').hide().html("#{escape_javascript(render 'taxpayer_form', agent: @agent)}").fadeIn();
        break;
      case 'mortgage broker':
         $('#partial-area').hide().html("#{escape_javascript(render 'mortgage_broker_form', agent: @agent)}").fadeIn();
         $('#submit-button').show().prop('value', 'Continue').attr('data-type', 'mortgage-broker');
        break;
      case 'mutual fund licensee':
         $('#partial-area').hide().html("#{escape_javascript(render 'mutual_fund_licensee_form', agent: @agent)}").fadeIn();
         $('#submit-button').show().prop('value', 'Continue').attr('data-type', 'mutual-fund-licensee');
        break;
      case 'life insurance licensee':
         $('#partial-area').hide().html("#{escape_javascript(render 'life_insurance_licensee_form', agent: @agent)}").fadeIn();
         $('#submit-button').show().prop('value', 'Continue').attr('data-type', 'life-insurance-licensee');
        break;
      case 'cpa':
         $('#partial-area').hide().html("#{escape_javascript(render 'cpa_form', agent: @agent)}").fadeIn();
         $('#submit-button').show().prop('value', 'Continue').attr('data-type', 'cpa');
        break;

      case 'other':
         $('#partial-area').hide().html("#{escape_javascript(render 'other_form', agent: @agent)}").fadeIn();
         $('#submit-button').show().prop('value', 'Continue').attr('data-type', 'other');
        break;
      default:
        $('#partial-area').hide().html('<h3>Please select a radio button </h3>').fadeIn();
        break;

    }

    $('.brokerages_with_autocomplete').autocomplete({
      source: $('.brokerages_with_autocomplete').data('autocompleteurl')
    });
    $('.sub_brokerages_with_autocomplete').autocomplete({
      source: $('.sub_brokerages_with_autocomplete').data('autocompleteurl')
    });
    return $('.datepicker').datepicker({
      format: 'YYYY/MM/DD'
    });
  } 