%nav.navbar.navbar-default
  .container
    .navbar-header
      Taking the 'NO' out of NOA
    #name
      %p
        - if agent_signed_in? 
          = link_to current_agent.name_display, edit_agent_registration_path 
          |
          = link_to "Sign Out", destroy_agent_session_path, method: :delete 
          
          / = link_to "Tip Us", new_tip_path
        - else 
          = link_to "Register", new_agent_registration_path 
          |
          = link_to "Sign In", new_agent_session_path 
          
          / = link_to "Tip Us", new_tip_path
          / |
          / = link_to "Sign in With Google",
          /   agent_omniauth_authorize_path(:google_oauth2)
.container
  .header-logo
    = link_to image_tag('logo.png'), root_url